@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Movies";
}

<div class="row">
    @foreach (var item in Model)
    { 
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                    <a class="text-white float-right"><i class="bi bi-pencil-square"></i> </a>
                                </h5>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <img src ="@item.ImageURL" width="100%" alt="@item.Name"/>
                    </div>

                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Cinema: </b>@item.Cinema.Name Sample</p>
                            <p class="card-text"><b>Category: </b>@item.MovieCategory </p>
                            <p class="card-text"><b>Start Date: </b>@item.StartDate </p>
                            <p class="card-text"><b>End Date: </b>@item.EndDate  </p>
                            <p class="card-text">
                                <b>Status: </b>

                                @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                {

                                }
                                else
                                {
                                
                                }
                                Name Sample
                        </p>


                    </div>

                </div>

            </div>

        </div>

    </div>


    }



    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    
                    <th>  @Html.DisplayNameFor(model => model.Name) </th>
                    <th>  @Html.DisplayNameFor(model => model.Description) </th>
                     <th>  @Html.DisplayNameFor(model => model.Price) </th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.ImageURL" alt="@item.Name" style="max-width:150px" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i>Edit</a> |
                            <a class="btn btn-outline-info"><i class="bi bi-eye"></i>Details</a> |
                            <a class="btn btn-danger"><i class="bi bi-trash"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
